* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 45px;
  flex-direction: column;
}

.form-box {
  background-color: white;
  width: 500px;
  height: auto;
  padding: 20px;
  position: relative;
  border-radius: none;
}

.header {
  background-image: url("/static/Images/banner.jpg");
  padding: 25px;
  text-align: left;
  height: 110px;
  margin-bottom: 20px;
  margin-left: -20px;
  margin-top: -20px;
  margin-right: -20px;
  color: #333;
  border-radius: 0px;
  box-sizing: border-box;
  background-position-x: center;
  background-position-y: top;
}

.header h2 {
  margin-bottom: 20px;
  color: #454343;
}

.header p {
  font-size: 17px;
}

.form {
  padding: 15px 0;
}

.form-label {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  color: #1a5c9e;
  font-weight: 500;
}

.stars {
  color: red;
}

.street-input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: none;
  font-size: 14px;
  width: 460px;
}

.city-state-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 100px;
}

.city-input {
  width: 200px;
  padding: 10px;
  margin-top: 1px;
  border: 1px solid #ccc;
  border-radius: none;
  font-size: 14px;
  margin-bottom: 20px;
}

.state-container {
  width: 140px;
  height: 20px;
}

.state-label {
  margin-bottom: 8px;
  font-size: 16px;
  color: #4864a4;
  font-weight: 500;
  margin-left: -100px;
  margin-top: -24px;
}

.state-input {
  width: 220px;
  padding: 10px;
  border: 1px solid #ffff;
  border-radius: none;
  margin-left: -100px;
  font-size: 14px;
}

.street-input:focus,
.city-input:focus,
.state-input:focus {
  border-color: black;
  outline: none;
  border-width: 2px;
}

.divider {
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

.autodetect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.autodetect a {
  color: #4864a4;
  text-decoration: none;
}

.autodetect-checkbox {
  margin-right: 130px;
  margin-top: -5px;
  border: grey;
}

.buttons {
  display: flex;
  justify-content: flex-start;
  gap: 3px;
  padding: 7px 0;
  margin-top: -20px;
  transition: background-color 0.3s ease;
}

.divider {
  margin-top: -0.2px;
  width: 480px;
  color: #beb6b6;
}

.submit-btn {
  background-color: #4767af;
  color: white;
  border: none;
  padding: 12px;
  cursor: pointer;
  width: 90px;
  font-size: 16px;
  border-bottom: 5px solid #324c8b;
}

.clear-btn {
  background-color: #ffac04;
  color: white;
  border: none;
  cursor: pointer;
  width: 90px;
  font-size: 16px;
  border-bottom: 5px solid #e08b00;
}

.submit-btn:hover {
  background-color: #4e73c3;
}

.clear-btn:hover {
  background-color: #f8b400;
}

.weather-card {
  background-color: white;
  width: 500px;
  padding: 100px;
  border-radius: none;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
  margin-top: 40px;
  margin-bottom: 70px;
  height: 240px;
}

.weather-location {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Open Sans";
}

#location {
  font-size: 27px;
  color: grey;
  margin-left: -80px;
  margin-top: -90px;
  text-decoration: none;
  font-weight: 350;
  text-align: left;
}

.weather-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#weatherIcon {
  width: 160px;
  height: 160px;
  margin-left: -70px;
  margin-top: -70px;
}

.weather-info {
  text-align: right;
}

#temperature {
  font-size: 130px;
  color: #666;
  margin-right: -40px;
  font-family: "Open Sans";
  margin-top: -70px;
}

#condition {
  font-size: 20px;
  color: #666;
  margin-left: -490px;
  margin-bottom: 42px;
  margin-right: 430px;
  margin-top: -10px;
}

.weather-details {
  display: flex;
  justify-content: space-around;
  margin-top: 85px;
  gap: 40px;
}

.detail-item {
  text-align: center;
  margin-top: -55px;
}

.detail-item img {
  width: 40px;
  height: 40px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.detail-item p {
  font-size: 18px;
  color: grey;
  margin-top: -30px;
  margin-left: -8px;
}

#pressure,
#visibility {
  margin-left: -40px;
  margin-right: -25px;
}

.detail-item span {
  font-size: 18px;
  color: grey;
  margin-top: -30px;
  padding-top: 20px;
  display: block;
}

.weather-table {
  width: 1000px;
  margin-top: 30px;
  border-radius: none;
  overflow: hidden;
}

.weather-data-table {
  width: 1000px;
  border-spacing: 0px 10px;
  flex-direction: column;
}

.weather-table-header {
  background-color: #4767af;
}

.weather-table-header-cell {
  padding: 15px;
  font-size: 19px;
  font-weight: 200;
  color: rgb(58, 56, 56);
  text-align: center;
  border-bottom: 2px solid white;
}

.weather-table-body-cell {
  padding: 22px;
  font-size: 16px;
  text-align: left;
  font-weight: 200;
  text-align: center;
}

.weather-table-body-cell.wind-speed {
  text-align: center;
  margin-right: 90px;
}

.weather-table-body-row {
  background-color: #fff;
}

.status-cell {
  display: flex;
  align-items: center;
}

.status-icon {
  width: 55px;
  height: 55px;
  margin-right: 10px;
}

.daily-weather {
  margin-top: 90px;
  font-size: 40px;
  font-weight: normal;
}

.weather-gradient {
  text-align: center;
  padding: 20px;
}

.weather-card2 {
  background: linear-gradient(to bottom, #e8eaed, #1c366d);
  width: 450px;
  height: 340px;
  padding: 20px;
  border-radius: none;
  position: relative;
  color: white;
  border-bottom: rgb(95, 93, 93);
  border-width: 1px;
}

.weather-info2 {
  text-align: left;
  font-size: 18px;
  color: #1e3973;
  line-height: 1.5;
  margin-bottom: 20px;
}

#gradient-date {
  font-weight: 490;
  margin-bottom: 5px;
  font-size: 24px;
  font-family: "Open Sans";
}

#gradient-condition {
  font-size: 24px;
  color: #1e3973;
  margin-bottom: 5px;
  font-weight: 490;
  font-family: "Open Sans";
}

#gradient-temperature {
  font-size: 28px;
  font-weight: 490;
  margin-bottom: 20px;
  font-family: "Open Sans";
}

.weather-pics {
  position: absolute;
  top: 20px;
  right: 20px;
}

#gradient-icon {
  width: 140px;
  height: 140px;
}

.weather-data {
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  color: white;
  line-height: 1.7;
}

.weather-data p {
  margin: 3px 0;
}

#daily-weather-line {
  border: 0;
  height: 1px;
  background-color: rgb(252, 252, 252);
  margin-top: 20px;
  margin-bottom: 20px;
  width: 390px;
}

.Weather-charts {
  font-size: 40px;
  font-weight: 100;
  text-decoration: none;
}

#weather-chart-line {
  border: 0;
  height: 1px;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 250px;
}

#container1 {
  width: 100%;
  height: 400px;
  margin: 20px auto;
}
#arrow-image-down,
#arrow-image-up {
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.weather-charts-heading {
  margin-top: 90px;
  font-size: 40px;
  font-weight: 100;
  text-decoration: none;
}

#chart1,
#chart2 {
  width: 900px;
  height: 360px;
  margin: 20px auto;
  display: none;
  margin-bottom: 70px;
}

#chart2{
  margin-top: -40px;
}
.weather-charts-heading {
  font-weight: 100;
}
